.main {
  background-image: url(https://imgupload.io/images/2021/01/02/fondo-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 798px;
  display: flex;
  justify-content: center;
  align-content: center; }

.contact-container {
  height: 85%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-container h2 {
    margin-top: 80px;
    font-size: 40px;
    color: black; }
  .contact-container p {
    margin-top: 20px;
    align-self: flex-start;
    color: #292929; }

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

textarea {
  margin-top: 20px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none; }

.formulario {
  margin-top: 30px;
  align-self: flex-start; }

.principal-background {
  height: 596px;
  min-height: 550px;
  width: 100%;
  background-image: url(https://imgupload.io/images/2021/01/02/background-principal2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 0 6px 20px 0 rgba(49, 49, 49, 0.19);
  /* https://imgupload.io/images/2021/01/02/background-principal2.jpg  // https://imgupload.io/images/2021/01/02/background-principal.jpg // https://imgupload.io/images/2021/01/02/fondo-contacto.jpg>
 */ }
  .principal-background p {
    font-size: 150px;
    color: white;
    font-weight: 300; }

.principal-promos {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
  align-items: center; }
  .principal-promos img {
    height: 100px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: solid 5px #f7f7f7; }

.col-lg-4 {
  padding: 30px;
  margin: 0px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'DM Sans', sans-serif;
  color: #949494;
  height: 100%; }

.header {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 0 6px 20px 0 rgba(49, 49, 49, 0.19); }

.top {
  height: 10%;
  min-height: 85px;
  display: flex;
  justify-content: space-around; }

.nav--lang {
  align-self: flex-start;
  justify-self: flex-end;
  text-align: end;
  height: 20px;
  min-height: 18px;
  font-size: 15px;
  width: 10%; }

.nav--items {
  width: 50%;
  height: 80px;
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav--items nav {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav--items a:hover {
    text-decoration: underline;
    transform: skew(2deg, 2deg); }
  .nav--items .nav--items {
    color: #949494;
    text-decoration: none; }

.contenedor {
  width: 95%;
  align-items: center; }

.logo {
  width: 10%; }
  .logo img {
    height: 80px;
    width: 100%;
    transform: skewY(10deg); }

#reserva {
  text-decoration: underline;
  color: #ffb411;
  font-size: 20px; }

.footer {
  background-color: #3c3c3b;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  min-height: 90px; }

.down {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center; }

.grid-item1 {
  grid-column: 1;
  grid-row: 1; }

.grid-item2 {
  grid-column: 2;
  grid-row: 1; }

.grid-item3 {
  grid-column: 3;
  grid-row: 1; }

.grid-item4 {
  grid-column: 2;
  grid-row: 2; }

.grid-item5 {
  grid-column: 3;
  grid-row: 2; }

.grid-item6 {
  grid-column: 1;
  grid-row: 2; }

.grid-item7 {
  grid-column: 1;
  grid-row: 3; }

.grid-item4 > img {
  width: 32px;
  height: 32px; }

.down {
  font-size: 12px;
  color: white; }
